@{
    ViewBag.Title = "Calendar";
}

<!-- Navbar -->
<nav class="navbar navbar-light bg-white justify-content-center">
    <form class="form-inline mb-3 ">
        <button id="calendarMonthView" class="btn btn-white" type="button">
            Month
        </button>
        <button id="calendarWeekView" class="btn btn-white" type="button">
            Week
        </button>
        <button id="calendarEventView" class="btn btn-white" type="button">
            Events
        </button>
    </form>
</nav>
<!-- Navbar -->
<i class="fas fa-calendar-week"></i>
<div style="height:70vh; width:100%">
    <div id='calendar' style="margin-top:10vh"></div>
</div>


<script>
    var calendarType = '';

    $(function () {
        $('#calendarMonthView').click();
    });

    function createCalendar() {
        var calendarEl = document.getElementById('calendar');

        calendarEl.innerHTML = "";

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'interaction', 'timeGrid', 'list'],
            defaultView: calendarType,
            height: 'parent',
            themeSystem: 'bootstrap',
            events: {
                url: '/Calendar/GetCalendarData',
                method: 'POST',
                failure: function () {
                    alert('there was an error while fetching events!');
                },
                color: 'yellow',   // a non-ajax option
                textColor: 'black' // a non-ajax option
            }
        });
        calendar.render();
    }

    document.addEventListener('DOMContentLoaded', createCalendar);

    $('#calendarMonthView').on("click", function () {
        calendarType = 'dayGridMonth';
        createCalendar();
    });

    $('#calendarWeekView').on("click", function () {
        calendarType = 'timeGridWeek';
        createCalendar();
    });

    $('#calendarEventView').on("click", function () {
        calendarType = 'listWeek';
        createCalendar();
    });

</script>


