@{
    ViewBag.Title = "Calendar";
}

<!-- Navbar -->
<nav class="navbar navbar-light bg-white justify-content-center">
    <form class="form-inline mb-3 ">
        <button id="calendarMonthView" class="btn btn-white" type="button">
            Month
        </button>
        <button id="calendarWeekView" class="btn btn-white" type="button">
            Week
        </button>
        <button id="calendarEventView" class="btn btn-white" type="button">
            Events
        </button>
    </form>
</nav>
<!-- Navbar -->
<i class="fas fa-calendar-week"></i>
<div style="height:70vh; width:100%">
    <div id='calendar' style="margin-top:10vh"></div>
</div>

<style>
    .tooltip {
        opacity: 1;
    }
</style>

<script>
    var calendarType = '';
    var delete_mode = false;

    $(function () {
        $('#calendarMonthView').click();
    });

    function updateEvent(info) {
        debugger;
                    var newEvent = {
                        id: info.event.id,
                        title: info.event.title,
                        description: info.event.extendedProps.description,
                        color: info.event.backgroundColor,
                        allDay: info.event.allDay
                    };
                    if (info.event.allDay) {
                        newEvent.start = info.event.start.toISOString();
                        newEvent.end = null;
                    } else {
                        newEvent.start = info.event.start.toISOString();
                        if (info.event.end == null) {
                            newEvent.end = info.event.start.toISOString();
                        } else {
                            newEvent.end = info.event.end.toISOString();
                        }
                    }
                    debugger;
                    $.ajax({
                        url: '@Url.Action("EditEvent","Calendar")',
                        contentType: "application/json",
                        type: "POST",
                        data: JSON.stringify(newEvent),
                        success: function (data) {
                        },
                    });
    }

    function createCalendar() {
        var calendarEl = document.getElementById('calendar');

        calendarEl.innerHTML = "";

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid', 'interaction', 'timeGrid', 'list'],
            defaultView: calendarType,
            height: 'parent',
            themeSystem: 'bootstrap',
            selectable: true,
            editable: true,
            selectMirror: true,
            eventLimit: true, // for all non-TimeGrid views
            views: {
                timeGrid: {
                    eventLimit: 5
                }
            },
            eventRender: function (info) {
                debugger;
                info.el.id = "event" + info.event.id;
                var tooltip = new Tooltip(info.el, {
                    title: info.event.extendedProps.description,
                    placement: 'top',
                    trigger: 'click',
                    container: 'body'
                });
            },
            events: {
                url: '/Calendar/GetCalendarData',
                method: 'POST',
                failure: function () {
                    alert('there was an error while fetching events!');
                },
                textColor: 'black' // a non-ajax option
            },
            selectOverlap: function (event) {
                return event.rendering === 'background';
            },
            eventClick: function (info) {
                if (delete_mode && confirm("Are you sure you want to delete " + info.event.title + "?")) {
                    debugger;
                    var eventId = info.event.id;
                    $.ajax({
                        url: '@Url.Action("DeleteEvent","Calendar")',
                        dataType: "json",
                        async: false,
                        type: "POST",
                        data: { 'id': eventId },
                        complete: function (data) {
                            debugger;
                            window.location.reload();
                        }
                    });
                }
            },
            eventDrop: function (info) {
                var localDate = new Date(info.event.start.toISOString());
                alert(info.event.title + " was dropped on " + localDate.toString());

                if (!confirm("Are you sure about this change?")) {
                    info.revert();
                } else {
                    updateEvent(info);
                }

            },
            eventResize: function (info) {
                var localDate = new Date(info.event.end.toISOString());
                alert(info.event.title + " end is now " + localDate.toString());

                if (!confirm("Are you sure about this change?")) {
                    info.revert();
                } else {
                    updateEvent(info);
                }
            },
            businessHours: {
                // days of week. an array of zero-based day of week integers (0=Sunday)
                daysOfWeek: [1, 2, 3, 4, 5], // Monday - Thursday

                startTime: '08:00',
                endTime: '18:00',
            }
        });
        calendar.render();
    }

    $(document).keydown(function (e) {
        if (e.which === 46) {
            delete_mode = !delete_mode;
            if (delete_mode) {
                $("#calendar").css("backgroundColor", "red");
            } else {
                $("#calendar").css("backgroundColor", "");
            }
        }
    });

    document.addEventListener('DOMContentLoaded', createCalendar);

    $('#calendarMonthView').on("click", function () {
        calendarType = 'dayGridMonth';
        createCalendar();
    });

    $('#calendarWeekView').on("click", function () {
        calendarType = 'timeGridWeek';
        createCalendar();
    });

    $('#calendarEventView').on("click", function () {
        calendarType = 'listWeek';
        createCalendar();
    });

</script>


