
@{
    ViewBag.Title = "BookDesc";
}




<nav class="navbar navbar-light bg-white justify-content-left">
    <form class="form-inline mb-3 ">
        <button class="btn btn-white back" type="button"> <a href="/Library/Index"><b>< </b> Back</a></button>
    </form>
</nav>

<!-- Description -->
<div class=" desc">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12 mb-4">
            <div class="card border-0 mx-4">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61ZG-hATOeL.jpg" class="card-img-top shadow rounded">
                <div class="card-body text-center p-0 pt-2">
                    <div class="card-text h4">Head First Design Patterns</div>
                    <p class="lead">
                        Elisabeth Freeman and Kathy Sierra
                    </p>
                    <div class="text-center">
                            <i class="fa fa-star"></i> 4.3
                            <i class="fa fa-book"></i> 688 pages
                            <i class="fa fa-calendar"></i> June 2009
                     </div> 
                    <button class="btn btn-success rounded mt-3" onclick="rent();"> Rent this book! </button>
                </div>
                </div>
                <hr>
                <div class="h4">
                    Description
                </div>
                <p class="lead">
                    At any given moment, someone struggles with the same software design problems you have. And, chances are, someone else has already solved your problem. This edition of Head First Design Patterns—now updated for Java 8—shows you the tried-and-true, road-tested patterns used by developers to create functional, elegant, reusable, and flexible software. By the time you finish this book, you’ll be able to take advantage of the best design practices and experiences of those who have fought the beast of software design and triumphed.
                </p>
            </div>
        </div>
 </div>

