@{
    ViewBag.Title = "Library";
}
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-white justify-content-center">
        <form class="form-inline mb-3 ">
            <button class="btn btn-white blib" type="button" onclick="showBooks()">Book Library</button>
            <button class="btn btn-white bcourse" type="button" onclick="showCourses()">Courses</button>
            <button class="btn btn-white odocs" type="button" onclick="showOther()">Other docs</button>
        </form>
    </nav>
    <!-- Navbar -->
    <!-- Book library -->
    <div class="container books">
        <div class="row">

            <!-- Book -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0" onclick="window.location.href='description.html'">
                    <a href="~/Library/BookDesc">
                        <img src="https://static.swiatczytnikow.pl/img/covers/978/14/4933/149/8/9781449331498-big.jpg" class="card-img-top shadow rounded">
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Head First Design Patterns</div>
                        </div>
                    </a>
                </div>
            </div>
            <!--/Book -->
            <!-- Book -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0" onclick="window.location.href='description.html'">
                    <a href="~/Library/BookDesc">
                        <img src="https://static.swiatczytnikow.pl/img/covers/978/14/4933/149/8/9781449331498-big.jpg" class="card-img-top shadow rounded">
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Head First Design Patterns</div>
                        </div>
                    </a>
                </div>
            </div>
            <!--/Book -->
            <!-- Book -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0" onclick="window.location.href='description.html'">
                    <a href="~/Library/BookDesc">
                        <img src="https://static.swiatczytnikow.pl/img/covers/978/14/4933/149/8/9781449331498-big.jpg" class="card-img-top shadow rounded">
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Head First Design Patterns</div>
                        </div>
                    </a>
                </div>
            </div>
            <!--/Book -->
            <!-- Book -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0" onclick="window.location.href='description.html'">
                    <a href="~/Library/BookDesc">
                        <img src="https://static.swiatczytnikow.pl/img/covers/978/14/4933/149/8/9781449331498-big.jpg" class="card-img-top shadow rounded">
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Head First Design Patterns</div>
                        </div>
                    </a>
                </div>
            </div>
            <!--/Book -->
            <!-- Book -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0">
                    <a href="~/Library/BookDesc">
                        <img src="https://static.swiatczytnikow.pl/img/covers/978/14/4933/149/8/9781449331498-big.jpg" class="card-img-top shadow rounded">
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Head First Design Patterns</div>
                        </div>
                    </a>
                </div>
            </div>
            <!--/Book -->

        </div>
    </div>
    <!-- /Book library -->
    
    <!-- Courses -->
    <div class="container courses">
        <div class="row">
            <!-- Course -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0">
                    <a href="https://app.pluralsight.com/course-player?clipId=8c8491ba-4358-4dbb-a80f-e8f12eb5a05f">
                        <img src="~/Content/Images/Library/Annotation.png" class="card-img-top shadow rounded" />
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Building Applications with ASP.NET MVC 4</div>
                        </div>
</div>
            </div>
            <!-- /Courses -->
            <!-- Course -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0">
                    <a href="https://www.udemy.com/course/learn-android-application-development-y/learn/lecture/9287514#overview">
                        <img src="~/Content/Images/Library/udemy.png" class="card-img-top shadow rounded"/>
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Android Application development</div>
                        </div>
</div>
            </div>
            <!-- /Course -->
        </div>
    </div>
    <!-- /Courses -->

    <!-- Other docs -->
    <div class="container otherdocs">
        <div class="row">

            <!-- Docs -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0">
                    <a href="http://www.mtsp.gov.mk/WBStorage/Files/PT_Zakon_za_Rabotnite_odnosi_158_09122010.pdf">
                        <img src="~/Content/Images/Library/docs.jpg" class="card-img-top shadow rounded" />
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Закон за работни односи</div>
                        </div>
</div>
            </div>
            <!-- /Docs -->
            <!-- Docs -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0">
                    <a href="http://www.mtsp.gov.mk/WBStorage/Files/PT_Zakon_za_Rabotnite_odnosi_158_09122010.pdf">
                        <img src="~/Content/Images/Library/docs.jpg" class="card-img-top shadow rounded"/>
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Правилник за прекувремено работење</div>
                        </div>
</div>
            </div>
            <!-- /Docs -->
            <!-- Docs -->
            <div class="col-xl-2 col-md-3 col-sm-3 col-4 mb-4">
                <div class="card border-0">
                    <a href="http://www.mtsp.gov.mk/WBStorage/Files/PT_Zakon_za_Rabotnite_odnosi_158_09122010.pdf">
                        <img src="~/Content/Images/Library/docs.jpg" class="card-img-top shadow rounded"/>
                        <div class="card-body text-left p-0 pt-2">
                            <div class="card-text text-black-50">Статут на компанијата</div>
                        </div>
                </div>
            </div>
            <!-- /Docs -->

        </div>
    </div>
